.btn {
  display: block;
  box-sizing: border-box;
  padding: 16px 32px;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  font-family: inherit;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  background-color: $light-blue;
  border: none;
  cursor: pointer;
  user-select: none;
  transition: color $style-change-duration, background-color $style-change-duration;

  &:hover {
    background-color: $blue;
  }

  &:active {
    color: rgba(white, 0.3%);
    background-color: $dark-blue;
  }

  &:disabled,
  &:disabled:hover,
  &:disabled:active,
  &--disabled,
  &--disabled:hover,
  &--disabled:active {
    color: white;
    background-color: $gray;
    cursor: default;
  }
}
