.page-footer {
  padding: 40px $mobile-padding;
}

.page-footer__item {
  margin: 0;

  &--hashtag {
    margin-bottom: 36px;
  }

  &--socials {
    margin-bottom: 40px;
  }

  // на случай переполнения
  &:nth-child(n+4) {
    margin-top: 40px;
  }
}


@media (min-width: $tablet-width) {
  .page-footer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 54px 0;
  }

  .page-footer__item {
    flex-grow: 1;
    box-sizing: border-box;
    width: 33.33%;
    padding: 0 20px;
    margin: 0;

    // на случай переполнения
    &:nth-child(n+4) {
      margin-top: 54px;
    }
  }
}
