//===== common
@import "variables";
@import "font";

//===== body
@import "blocks/page-body";
@import "blocks/btn";
//===== header
@import "blocks/page-header";
@import "blocks/page-logo";
@import "blocks/main-nav";
//===== main
@import "blocks/page-main";
@import "blocks/intro";
//===== form
@import "blocks/selector";
@import "blocks/form";
//===== footer
@import "blocks/page-footer";
@import "blocks/hashtag";
@import "blocks/socials";
@import "blocks/copyright";

//===== index.html
@import "blocks/features";
@import "blocks/feature";
@import "blocks/hotels-search";
@import "blocks/sedona-location";

//===== gallery.html
@import "blocks/gallery";
@import "blocks/snapshot";
@import "blocks/vote";
@import "blocks/presentation";


.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  border: 0;
}
