$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;


$desktop-width: 1200px;
$tablet-width: 768px;
$mobile-only-width: $tablet-width - 1px;
$mobile-min-width: 320px;

$desktop-padding: 120px;
$tablet-padding: 7.8125%;
$mobile-padding: 6.25%;

$style-change-duration: 0.2s;


$dark-gray: rgb(213, 213, 213);
$gray: rgb(230, 230, 230);
$light-gray: rgb(242, 242, 242);

$brown: rgb(118, 99, 87);

$light-black: rgb(51, 51, 51);

$dark-blue: rgb(84, 150, 189);
$blue: rgb(102, 158, 192);
$light-blue: rgb(129, 179, 210);
